
body{
    display: inline-block;
    margin: auto 31em; 
    padding: 0;
}
header{
    display: inline-block;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.project{
    border-radius: 1em;
    margin: 1em 0.5em;;
    padding: 1em;
    background-color: antiquewhite;
    font-size: 1.22em;
}
h3{
    line-height: 0;    
}